.header {
  // background-color: #a83e29;
  position: relative;
  grid-column: full-start / full-end;
  padding: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1.1rem;
  &__burger-icon {
    display: none;
    // position: absolute;
    // top: 20%;
    // right: 2%;
    @media only screen and (max-width: $bp-medium) {
      display: block;
      transform: translate(50%, 100%);
    }
  }
  &__burger {
    visibility: hidden;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 1rem;
    padding-bottom: 0;
    &__burger:not(:checked) + &__nav {
      display: none;
    }
    &__burger:checked + &__nav {
      display: block;
    }
  }

  &__nav {
    display: grid;
    align-items: center;
    // align-content: center;
    // justify-content: center;
    grid-template-columns: 6vw 4fr 1fr 1vw;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
      justify-items: center;
      grid-template-columns: 1fr;
    }
  }
}
